<div class="container">

    <div class="view-blog pt-4">
        <div class="view-blog-heading">
            <img src="/images/{{blog.img}}" alt="">

            <h1 class="view-blog-title">{{blog.title}}</h1>
        </div>
        <p class="view-blog-content">{{blog.longDesc}}</p>

    </div>

     <div class="footer-info">
         {{> go-home}}
         <span class="footer-info-name">author: {{blog.name}}</span>

         <div class="footer-info-option">
             <a href="/form/edit/{{blog.id}}" class="btn__edit">Edit</a>
             <form method="POST" action="../{{blog.id}}?_method=DELETE"><button type="submit" class="btn__del">Delete</button></form>
         </div>
     </div>
 </div>

